In [1]:
import pandas as pd
import json

### Arranging the Players DataFrame

In [2]:
df_player = pd.read_csv('/Users/pierrecanadas/code/pirroux/personal_projects/nbadata/01-Project-Setup/data/data_all_players.csv')

### Extracting players info from dictionnary into separate columns

In [3]:
data = df_player
df_player = pd.DataFrame(data)

# Apply lambda function to create a new 'id_column'
df_player['player_team_id'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('id'))
df_player['player_team_abb'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('abbreviation'))
df_player['player_team_city'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('city'))
df_player['player_team_conf'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('conference'))
df_player['player_team_div'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('division'))
df_player['player_team_full_name'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('full_name'))
df_player['player_team_name'] = df_player['team'].apply(lambda x: json.loads(x.replace("'", "\"")).get('name'))

In [4]:
df_player.drop(columns=["team", "weight_pounds", "height_feet", "height_inches"], inplace=True)

### Arranging the Game DataFrame

In [5]:
df_games = pd.read_csv('/Users/pierrecanadas/code/pirroux/personal_projects/nbadata/01-Project-Setup/data/games_data.csv')

In [6]:
### Extracting game info from dictionnary into separate columns

In [7]:
data_games = df_games
df_games = pd.DataFrame(data_games)

# Apply lambda function to create a new 'id_column'
df_games['new_home_team_id'] = df_games['id'].apply(lambda x: json.loads(x.replace("'", "\"")).get('id'))
df_games['new_vis_team_id'] = df_games['time'].apply(lambda x: json.loads(x.replace("'", "\"")).get('id'))

In [8]:
df_games.drop(columns=["id", "time"], inplace=True)

In [9]:
df_games.rename(columns={"date": "score_home",
                        "postseason": "score_vis"}, inplace=True)

In [271]:
pd.set_option('display.max_rows', None)  # None will display all rows


# Ensure that the 'game_date' column is in datetime format
df_games['game_date'] = pd.to_datetime(df_games['game_date'])

# Filter the DataFrame for the specified date range
filtered_df = df_games[(df_games['game_date'] >= '2024-01-01') & (df_games['game_date'] <= '2024-01-31')]
# sort by home team id
filtered_df = filtered_df.sort_values(by='new_home_team_id', ascending=True)
# Display the first few rows of the filtered DataFrame
filtered_df.head(100)

,game_id,game_date,score_home,home_team_id,visitor_team_id,season,period,status,score_vis,new_home_team_id,new_vis_team_id
8205,1038162,2024-01-17,106,4,False,2023,Final,Final,104,1,22
8182,1038226,2024-01-26,143,4,False,2023,Final,Final,148,1,7
8164,1038135,2024-01-13,99,4,False,2023,Final,Final,127,1,30
8074,1038261,2024-01-30,138,4,False,2023,Final,Final,122,1,14
8049,1038245,2024-01-28,126,4,False,2023,Final,Final,125,1,28
8031,1038125,2024-01-12,108,4,False,2023,Final,Final,126,1,12
8333,1038113,2024-01-10,139,5,False,2023,Final,Final,132,1,23
7763,1038187,2024-01-20,95,4,False,2023,Final,Final,116,1,6
8387,1038059,2024-01-03,141,4,False,2023,Final,Final,138,1,21
8052,1038151,2024-01-15,109,4,False,2023,Final,Final,99,1,27
8214,1038251,2024-01-29,118,4,False,2023,Final,Final,112,2,19
8217,1038178,2024-01-19,100,4,False,2023,Final,Final,102,2,8
8152,1038134,2024-01-13,145,4,False,2023,Final,Final,113,2,11
8200,1038163,2024-01-17,117,4,False,2023,Final,Final,98,2,27
8080,1038262,2024-01-30,129,4,False,2023,Final,Final,124,2,12
8158,1038071,2024-01-05,126,4,False,2023,Final,Final,97,2,29
7857,1038238,2024-01-27,96,4,False,2023,Final,Final,115,2,13
8177,1038109,2024-01-10,127,5,False,2023,Final,Final,120,2,18
8382,1038090,2024-01-07,127,5,False,2023,Final,Final,134,3,25
7851,1038237,2024-01-27,106,4,False,2023,Final,Final,104,3,11
7716,1038154,2024-01-15,95,5,False,2023,Final,Final,96,3,16
8374,1038073,2024-01-05,124,4,False,2023,Final,Final,115,3,21
8072,1038269,2024-01-31,120,4,False,2023,Final,Final,136,3,24
8054,1038207,2024-01-23,103,4,False,2023,Final,Final,108,3,20
8213,1038252,2024-01-29,147,4,False,2023,Final,Final,114,3,29
7839,1038221,2024-01-25,94,4,False,2023,Final,Final,96,3,18
8195,1038176,2024-01-19,124,4,False,2023,Final,Final,120,4,27
8186,1038098,2024-01-08,112,5,False,2023,Final,Final,119,4,5
8179,1038266,2024-01-31,110,4,False,2023,Final,Final,117,4,5
8059,1038239,2024-01-27,122,4,False,2023,Final,Final,134,4,29
8328,1038110,2024-01-10,98,4,False,2023,Final,Final,123,4,26
7832,1038227,2024-01-26,104,4,False,2023,Final,Final,138,4,11
8216,1038249,2024-01-29,92,4,False,2023,Final,Final,113,4,20
7808,1038185,2024-01-20,89,4,False,2023,Final,Final,97,4,23
8037,1038128,2024-01-12,131,4,False,2023,Final,Final,140,5,10
8076,1038264,2024-01-30,107,4,False,2023,Final,Final,118,5,28
7764,1038115,2024-01-10,124,5,False,2023,Final,Final,119,5,11
8047,1038189,2024-01-20,125,4,False,2023,Final,Final,96,5,15
8362,1038076,2024-01-05,104,4,False,2023,Final,Final,91,5,4
8375,1038074,2024-01-05,114,4,False,2023,Final,Final,90,6,30
8082,1038267,2024-01-31,128,4,False,2023,Final,Final,121,6,9
8042,1038153,2024-01-15,109,4,False,2023,Final,Final,91,6,5
8026,1038119,2024-01-11,111,4,False,2023,Final,Final,102,6,3
8366,1038089,2024-01-07,117,4,False,2023,Final,Final,115,6,27
8202,1038164,2024-01-17,135,4,False,2023,Final,Final,95,6,17
8304,1038057,2024-01-03,140,4,False,2023,Final,Final,101,6,30
8215,1038250,2024-01-29,118,4,False,2023,Final,Final,108,6,13
8029,1038122,2024-01-11,128,4,False,2023,Final,Final,124,7,20
8178,1038217,2024-01-24,109,4,False,2023,Final,Final,132,7,24
8363,1038064,2024-01-03,126,4,False,2023,Final,Final,97,7,25
8193,1038258,2024-01-29,131,4,False,2023,Final,Final,129,7,22
8338,1038139,2024-01-13,108,4,False,2023,Final,Final,118,7,19
7778,1038148,2024-01-15,125,4,False,2023,Final,Final,120,7,19
8322,1038107,2024-01-09,103,4,False,2023,Final,Final,120,7,15
8063,1038243,2024-01-27,115,4,False,2023,Final,Final,120,7,26
7653,1038093,2024-01-07,115,4,False,2023,Final,Final,108,7,18
8361,1038079,2024-01-05,139,4,False,2023,Final,Final,103,7,25
8160,1038203,2024-01-22,110,4,False,2023,Final,Final,119,7,2
8034,1038131,2024-01-12,125,4,False,2023,Final,Final,113,8,19
7848,1038236,2024-01-27,111,4,False,2023,Final,Final,105,8,23
7646,1038080,2024-01-05,120,4,False,2023,Final,Final,122,8,22
8339,1038142,2024-01-14,117,4,False,2023,Final,Final,109,8,12
7765,1038259,2024-01-29,113,4,False,2023,Final,Final,107,8,17
8356,1038094,2024-01-07,131,4,False,2023,Final,Final,114,8,9
8313,1038047,2024-01-01,111,4,False,2023,Final,Final,93,8,4
7800,1038184,2024-01-20,135,4,False,2023,Final,Final,141,9,17
8329,1038111,2024-01-10,108,4,False,2023,Final,Final,130,9,27
8325,1038104,2024-01-09,110,4,False,2023,Final,Final,131,9,26
7845,1038211,2024-01-24,113,4,False,2023,Final,Final,106,9,4
7844,1038234,2024-01-27,104,4,False,2023,Final,Final,118,9,30
8203,1038161,2024-01-17,117,4,False,2023,Final,Final,124,9,18
8038,1038126,2024-01-12,110,4,False,2023,Final,Final,112,9,11
8062,1038246,2024-01-28,120,4,False,2023,Final,Final,104,9,21
8044,1038198,2024-01-22,113,4,False,2023,Final,Final,122,9,17
8370,1038082,2024-01-05,113,4,False,2023,Final,Final,109,10,9
8046,1038242,2024-01-27,144,6,False,2023,Final,Final,145,10,14
8175,1038265,2024-01-30,119,4,False,2023,Final,Final,107,10,23
8148,1038070,2024-01-04,127,4,False,2023,Final,Final,130,10,8
7842,1038224,2024-01-25,133,4,False,2023,Final,Final,134,10,26
8187,1038096,2024-01-07,118,4,False,2023,Final,Final,133,10,28
7856,1038218,2024-01-24,134,4,False,2023,Final,Final,112,10,1
8073,1038117,2024-01-10,105,4,False,2023,Final,Final,141,10,19
8303,1038055,2024-01-02,121,4,False,2023,Final,Final,115,10,22
7854,1038215,2024-01-24,131,5,False,2023,Final,Final,137,11,25
8067,1038190,2024-01-20,127,5,False,2023,Final,Final,126,11,29
8083,1038271,2024-01-31,99,4,False,2023,Final,Final,110,11,19
8371,1038061,2024-01-03,112,4,False,2023,Final,Final,101,11,3
8012,1038045,2024-01-01,136,4,False,2023,Final,Final,113,11,9
8367,1038088,2024-01-06,112,4,False,2023,Final,Final,108,11,17
8227,1038254,2024-01-29,135,4,False,2023,Final,Final,119,11,14
8385,1038077,2024-01-05,95,4,False,2023,Final,Final,122,11,18
8051,1038195,2024-01-21,107,4,False,2023,Final,Final,116,11,2
8151,1038072,2024-01-05,150,4,False,2023,Final,Final,116,12,1
8355,1038099,2024-01-08,133,4,False,2023,Final,Final,131,12,2
8337,1038112,2024-01-10,112,4,False,2023,Final,Final,104,12,30
8388,1038058,2024-01-03,142,4,False,2023,Final,Final,130,12,17
8064,1038244,2024-01-28,116,4,False,2023,Final,Final,110,12,15
7865,1038219,2024-01-25,134,4,False,2023,Final,Final,122,12,23
8368,1038085,2024-01-06,101,4,False,2023,Final,Final,118,12,2
7833,1038228,2024-01-26,133,4,False,2023,Final,Final,131,12,24

In [10]:
# Managing a MultiIndex in the DataFrame
df_games = df_games.reset_index()
df_games.rename(columns={"level_0":"game_id",
                        "level_1": "game_date"}, inplace=True)
df_games["game_date"] = pd.to_datetime(df_games["game_date"])

### Arranging the Stats DataFrame

In [11]:
import ast

In [12]:
df_stats = pd.read_csv('/Users/pierrecanadas/code/pirroux/personal_projects/nbadata/01-Project-Setup/data/all_stats.csv')

In [13]:
# Transform columns with lists (dictionnaries looking like lists) into dictionaries
df_stats['game'] = df_stats['game'].apply(ast.literal_eval)
df_stats['team'] = df_stats['team'].apply(ast.literal_eval)
df_stats['player'] = df_stats['player'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else None)

In [14]:
# Extract game_id, player_id and team_id from the columns
df_stats['game_id']=df_stats['game'].apply(lambda x : x['id'] if 'id' in x else None)
df_stats['player_id'] = df_stats['player'].apply(lambda x: int(x.get('id')) if pd.notna(x) and 'id' in x and pd.notna(x.get('id')) else None).astype('Int64')
df_stats['team_id'] = df_stats['team'].apply(lambda x: int(x.get('id')) if pd.notna(x) and 'id' in x and pd.notna(x.get('id')) else None).astype('Int64')

### Extracting info from dictionnary into separate columns

In [15]:
df_stats['first_name'] = df_stats['player'].apply(lambda x: x.get('first_name') if pd.notna(x) and 'first_name' in x else None)
df_stats['last_name'] = df_stats['player'].apply(lambda x: x.get('last_name') if pd.notna(x) and 'last_name' in x else None)
df_stats['position'] = df_stats['player'].apply(lambda x: x.get('position') if pd.notna(x) and 'position' in x else None)
df_stats['abbreviation'] = df_stats['team'].apply(lambda x: x.get('abbreviation') if pd.notna(x) and 'abbreviation' in x else None)

### Remove ambiguous team id in player's data dictionnnary

In [16]:
def remove_key_from_dict(d, key):
    if isinstance(d, dict):
        d.pop(key, None)
    return d

key_to_remove = 'team_id'
df_stats['player'] = df_stats['player'].apply(lambda x: remove_key_from_dict(x, key_to_remove))

### Merging DataFrames together

In [17]:
# Merging the games and stats dataframes

In [144]:
merged_df = df_games.merge(df_stats, how='inner', on='game_id')

In [145]:
#merged_df.duplicated().sum()

In [146]:
df_player.rename(columns={"id": "player_id"}, inplace=True)
df_player.player_id = df_player.player_id.astype('Int64')

In [147]:
merged_df.rename(columns={"new_home_team_id":"home_team_id",
                  "new_vis_team_id": "vis_team_id",
                  })

,game_id,game_date,score_home,home_team_id,visitor_team_id,season,period,status,score_vis,home_team_id,vis_team_id,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,ft_pct,fta,ftm,game,min,oreb,pf,player,pts,reb,stl,team,turnover,player_id,team_id,first_name,last_name,position,abbreviation
0,47179,2019-01-30,126,4,False,2018,Final,,94,2,4,1076654,4.0,0.0,0.0,0.250,4.0,1.0,0.545000,11.0,6.0,0.000000,0.0,0.0,"{'id': 47179, 'date': '2019-01-30', 'home_team...",26:38,2.0,3.0,"{'id': 33, 'first_name': 'Nicolas', 'height_fe...",13.0,2.0,2.0,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",3.0,33,4,Nicolas,Batum,F-G,CHA
1,47179,2019-01-30,126,4,False,2018,Final,,94,2,4,1076655,0.0,0.0,2.0,1.000,2.0,2.0,1.000000,4.0,4.0,0.000000,0.0,0.0,"{'id': 47179, 'date': '2019-01-30', 'home_team...",27:23,0.0,0.0,"{'id': 482, 'first_name': 'Marvin', 'height_fe...",10.0,2.0,1.0,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",0.0,482,4,Marvin,Williams,F,CHA
2,47179,2019-01-30,126,4,False,2018,Final,,94,2,4,1076656,2.0,1.0,4.0,0.000,0.0,0.0,0.333000,3.0,1.0,0.000000,0.0,0.0,"{'id': 47179, 'date': '2019-01-30', 'home_team...",13:34,1.0,1.0,"{'id': 48, 'first_name': 'Bismack', 'height_fe...",2.0,5.0,0.0,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",1.0,48,4,Bismack,Biyombo,C,CHA
3,47179,2019-01-30,126,4,False,2018,Final,,94,2,4,1076657,1.0,0.0,5.0,0.400,5.0,2.0,0.286000,7.0,2.0,0.000000,0.0,0.0,"{'id': 47179, 'date': '2019-01-30', 'home_team...",23:10,0.0,2.0,"{'id': 267, 'first_name': 'Jeremy', 'height_fe...",6.0,5.0,0.0,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",2.0,267,4,Jeremy,Lamb,G,CHA
4,47179,2019-01-30,126,4,False,2018,Final,,94,2,4,1076658,2.0,1.0,1.0,0.286,7.0,2.0,0.450000,20.0,9.0,1.000000,1.0,1.0,"{'id': 47179, 'date': '2019-01-30', 'home_team...",26:31,0.0,0.0,"{'id': 465, 'first_name': 'Kemba', 'height_fee...",21.0,1.0,1.0,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",1.0,465,4,Kemba,Walker,G,CHA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234533,1038294,2024-02-03,117,4,False,2023,Final,Final,129,7,17,14391931,0.0,0.0,0.0,0.000,0.0,0.0,1.000000,1.0,1.0,0.000000,0.0,0.0,"{'id': 1038294, 'date': '2024-02-03', 'home_te...",04,0.0,0.0,"{'id': 284, 'first_name': 'Robin', 'height_fee...",2.0,0.0,0.0,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",0.0,284,17,Robin,Lopez,C,MIL
234534,1038294,2024-02-03,117,4,False,2023,Final,Final,129,7,17,14391932,0.0,0.0,7.0,0.375,8.0,3.0,0.333333,9.0,3.0,0.000000,2.0,0.0,"{'id': 1038294, 'date': '2024-02-03', 'home_te...",33,0.0,1.0,"{'id': 38, 'first_name': 'Malik', 'height_feet...",9.0,7.0,2.0,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",1.0,38,17,Malik,Beasley,G,MIL
234535,1038294,2024-02-03,117,4,False,2023,Final,Final,129,7,17,14391933,8.0,1.0,3.0,1.000,5.0,5.0,0.909091,11.0,10.0,0.833333,6.0,5.0,"{'id': 1038294, 'date': '2024-02-03', 'home_te...",38,0.0,3.0,"{'id': 278, 'first_name': 'Damian', 'height_fe...",30.0,3.0,0.0,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",6.0,278,17,Damian,Lillard,G,MIL
234536,1038294,2024-02-03,117,4,False,2023,Final,Final,129,7,17,14391937,2.0,0.0,2.0,0.000,1.0,0.0,0.666667,6.0,4.0,0.000000,0.0,0.0,"{'id': 1038294, 'date': '2024-02-03', 'home_te...",21,0.0,3.0,"{'id': 112, 'first_name': 'Jae', 'height_feet'...",8.0,2.0,2.0,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",0.0,112,17,Jae,Crowder,F,MIL
234537,1038294,2024-02-03,117,4,False,2023,Final,Final,129,7,17,14391941,2.0,0.0,7.0,0.000,3.0,0.0,0.400000,10.0,4.0,0.800000,5.0,4.0,"{'id': 1038294, 'date': '2024-02-03', 'home_te...",31,3.0,3.0,"{'id': 377, 'first_name': 'Bobby', 'height_fee...",12.0,10.0,1.0,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",0.0,377,17,Bobby,Portis,F,MIL

In [ ]:
### Re-arranging columns in the Dataframe

In [267]:
best_column_order = ['game_id', 'game_date', "season", 'new_home_team_id', 'new_vis_team_id',
                    'score_home','score_vis', 'team_id', 'abbreviation',
                     'player_id', 'position', 'first_name', 'last_name',
                      'pts', 'reb', 'stl',
         'ast', 'blk','oreb', 'dreb', 'fg3_pct', 'fg3a',
       'fg3m', 'fg_pct', 'fgm','fga',  'ft_pct', 'ftm', 'fta',
                     'turnover', 'pf', 'min','home_team_id', 'visitor_team_id',
                     'period', 'status', 'id', 'game', 'player', 'team']

merged_df = merged_df[best_column_order]

In [268]:
merged_df.drop(columns=["status", "period"])

KeyboardInterrupt:

### Creating Fantasy score

In [150]:
merged_df["fantasy_bonus"] = merged_df.apply(lambda row: row.loc['pts'] + row.loc['reb'] +row.loc['ast']+row.loc['stl']+ row.loc['fgm'] + row.loc['fg3m'] + row.loc['ftm'], axis=1)
merged_df["fantasy_malus"] = merged_df.apply(lambda row: row.loc['turnover'] + (row.loc["fga"] - row.loc["fgm"]) + (row.loc["fg3a"] - row.loc["fg3m"]) + (row.loc["fta"] - row.loc["ftm"]), axis=1)
merged_df["fantasy_score"] = merged_df["fantasy_bonus"] - merged_df["fantasy_malus"]
merged_df["display_last_name"] = merged_df["first_name"].str[0] + "." + merged_df["last_name"]

### Creating an impact table - In progress

In [154]:
pd.set_option('display.max_columns', None)

In [237]:
def create_impact_df(merged_df, given_date):
    # Convert the given date to datetime
    given_date = pd.to_datetime(given_date)

    # Define the start of the season
    season_start_date = pd.to_datetime('2023-10-24')

    # Filter the data for the season, last 30 days, and last 10 days
    season_df = merged_df[(merged_df['game_date'] >= season_start_date) & (merged_df['game_date'] <= given_date)]
    last_30_days_df = merged_df[(merged_df['game_date'] >= given_date - pd.Timedelta(days=30)) & (merged_df['game_date'] <= given_date)]
    last_10_days_df = merged_df[(merged_df['game_date'] >= given_date - pd.Timedelta(days=10)) & (merged_df['game_date'] <= given_date)]

    # Drop duplicates to avoid multiple counting during aggregation
    season_df = season_df.drop_duplicates(subset=['player_id', 'game_id'])
    last_30_days_df = last_30_days_df.drop_duplicates(subset=['player_id', 'game_id'])
    last_10_days_df = last_10_days_df.drop_duplicates(subset=['player_id', 'game_id'])

    # Group by player_id and sum the statistics for each period
    season_agg = season_df.groupby('player_id').agg({
        'display_last_name': 'first',
        'ast': 'sum'

    }).rename(columns={'ast': 'ast_seas',
                       'display_last_name': 'player_name'})

    last_30_agg = last_30_days_df.groupby('player_id').agg({
        'ast': 'sum'
    }).rename(columns={'ast': 'ast_30'})

    last_10_agg = last_10_days_df.groupby('player_id').agg({
        'ast': 'sum'
    }).rename(columns={'ast': 'ast_10'})

    # Merge the aggregated data
    impact_table = season_agg.merge(last_30_agg, on='player_id', how='left').merge(last_10_agg, on='player_id', how='left')

    # Fill NaN values with 0 (in case some players don't have data for the last 30 or 10 days)
    impact_table = impact_table.fillna(0)

    # Sort by descending ast_seas
    impact_table = impact_table.sort_values('ast_seas', ascending=False).reset_index(drop=True)

    # Round values to 1 decimal place
    impact_table = impact_table.round({'ast_seas': 1, 'ast_30': 1, 'ast_10': 1})

    return impact_table

In [238]:
# Example usage:
given_date = '2023-11-30'
impact_table = create_impact_df(merged_df, given_date)

In [239]:
impact_table.head(50)

             player_name  ast_seas  ast_30  ast_10
0                T.Young     121.0    81.0    50.0
1             F.VanVleet      82.0    61.0    27.0
2                 C.Paul      81.0    74.0    22.0
3           T.Haliburton      78.0    65.0    42.0
4                L.James      76.0    68.0    33.0
5            R.Westbrook      76.0    60.0    39.0
6              J.Brunson      75.0    65.0    32.0
7                N.Jokic      75.0    63.0    35.0
8              D.Lillard      74.0    65.0    41.0
9           C.Cunningham      74.0    60.0     5.0
10            D.Schroder      74.0    39.0    10.0
11  S.Gilgeous-Alexander      73.0    52.0    23.0
12              K.George      72.0    62.0    14.0
13              M.Conley      71.0    65.0    36.0
14              D.Booker      67.0    67.0    26.0
15               D.White      67.0    56.0    23.0
16             D.Sabonis      66.0    61.0    22.0
17                L.Ball      64.0    56.0    13.0
18              J.Randle      64.0    55.0    23.0
19              A.Sengun      63.0    43.0    21.0
20              P.George      63.0    52.0    36.0
21               T.Maxey      63.0    52.0    14.0
22              D.Murray      61.0    39.0    24.0
23           S.Dinwiddie      60.0    54.0    23.0
24              B.Ingram      60.0    54.0    30.0
25              S.Barnes      59.0    37.0    10.0
26              J.Harden      59.0    59.0    53.0
27       G.Antetokounmpo      59.0    54.0    19.0
28             D.Russell      58.0    49.0    18.0
29            K.Anderson      56.0    46.0    23.0
30              P.Siakam      56.0    41.0    12.0
31               M.Strus      56.0    44.0    15.0
32             J.Holiday      55.0    45.0    10.0
33                M.Monk      55.0    52.0    12.0
34               J.Tatum      54.0    46.0    12.0
35               T.Jones      54.0    40.0    15.0
36            J.Clarkson      53.0    51.0    17.0
37             R.Jackson      53.0    41.0    27.0
38              J.Sochan      53.0    41.0    17.0
39              L.Doncic      51.0    34.0    13.0
40          Z.Williamson      51.0    48.0    29.0
41              K.Olynyk      51.0    48.0    22.0
42               K.Lowry      50.0    43.0    21.0
43             K.Johnson      50.0    45.0    13.0
44            D.Mitchell      49.0    38.0    17.0
45             D.DeRozan      49.0    36.0    21.0
46             D.Daniels      49.0    49.0    20.0
47       T.Horton-Tucker      49.0    48.0    22.0
48               C.White      47.0    31.0    16.0
49             A.Edwards      47.0    39.0    17.0

# Prochaines étapes :

In [ ]:
#duplicates have been removed
#matches manquants dans données initiales - est-ce dans un merge ou dans les données initiales?
    #not in game dataframe

#changer les sommes en moyennes pour les stats fantasy score
#ajouter la position de chaque joueur dans le tableau d'impact_table